@charset "UTF-8";

.wrap {
	width: 960px;
	margin: 0 auto;
}
.title {
	text-align: center;
}
.btn_area {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.btn_primary {
	width: 50px;
	height: 25px;
	background-color: teal;
	border: 0;
	outline: 0;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.btn_primary:hover {
	background-color: purple;
}
.btn_add {
	width: 200px;
	height: 40px;
	background-color: navy;
}
.find_area {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px
}
.btn_list{
	width: 80px;
}
.main_area {
	width: 100%;
	margin-top: 20px;
}
.main_area table {
	border-collapse: collapse;
	margin: 0 auto;
}
.main_area table caption {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 5px;
}
.main_area table td {
	border: 1px solid gray;
	text-align: center;
	padding: 5px;
}
.main_area table thead {
	background-color: silver;	
}
.main_area table td:nth-of-type(1) { width: 100px; }
.main_area table td:nth-of-type(2) { width: 100px; }
.main_area table td:nth-of-type(3) { width: 100px; }
.main_area table td:nth-of-type(4) { width: 100px; }
.main_area table td:nth-of-type(5) { width: 100px; }
.main_area table td:nth-of-type(6) { width: 100px; }
.main_area table td:nth-of-type(7) { width: 100px; }
.main_area table td:nth-of-type(8) { width: 120px; }

.btn_remove {
	background-color: crimson;
}