<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- Appenders -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%date{HH:mm:ss.SSS, Asia/Seoul} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.gdu.app14" level="DEBUG" />

	<!-- 3rd party Loggers -->
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
	
	<!-- Root Logger -->
	<root level="DEBUG">
 		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>
