<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- snake_case(DB) to camelCase(Java) -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- com.gdu.app09.domain.BoardDTO to Board -->
	<typeAliases>
		<typeAlias type="com.gdu.app09.domain.BoardDTO" alias="Board" />
	</typeAliases>

</configuration>