<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('목록')}"></head>
<body>
<div>
	
	<h1 th:text="|블로그 목록(전체 ${totalRecord}개)|"></h1>
	
	<div>
		<input type="button" value="블로그 작성하기" id="btn_write">

		<script>
		
			$('#btn_write').click(function(){
				location.href = '/blog/write}';
			});
		
		</script>
	</div>
	
	<div>
		<table border="1">
			<thead>
				<tr>
					<td>순번</td>
					<td>제목</td>
					<td>조회수</td>
					<td>작성일</td>
				</tr>
			</thead>
			<tbody>
			
				<!-- Variable Expression : ${} -->

				<tr th:each="blog,vs:${blogList}">
					<td th:text="${beginNo - vs.index}"></td>
					<td><a th:href="@{/blog/increse/hit(blogNo=${blog.blogNo}, a=1)}" th:text="${blog.title}"></a></td> <!-- 파라미터가 2개이상일때 , a=1 -->
					<td th:text="${blog.hit}"></td>
					<td th:text="${blog.createDate}"></td>
				</tr>
				
			</tbody>
			<tfoot>
				<tr>
					<!-- th::utext="HTML구성요소포함한텍스트" -->
					<td colspan="4" th:utext="${paging}">
						${paging}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

</div>

</body>
</html>