<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('작성')}"></head>
<script>

$(document).ready(function(){
		
		// summernote
		$('#content').summernote({
			width: 800,
			height: 400,
			lang: 'ko-KR',
			toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline', 'clear']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['fontsize', ['fontsize']],
			    ['color', ['color']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert', ['link', 'picture', 'video']]
			],
			callbacks: {
				// summernote 편집기에 이미지를 로드할 때 이미지는 function의 매개변수 files로 전달됨 
				onImageUpload: function(files){
					// 이미지를 ajax를 이용해서 서버로 보낼 때 가상 form 데이터 사용 
					var formData = new FormData();
					formData.append('file', files[0]);  // 파라미터 file, summernote 편집기에 추가된 이미지가 files[0]임
					// 이미지를 HDD에 저장하고 경로를 받아오는 ajax
					
					  /*
	  				  	이미지를 DB에 저장하면 용량을 너무 잡아먹어서
	  				  	이미지를 HDD에 저장하고 경로를 받아오는 ajax
	  				  	에이작스로 하드에 이미지를 저장하고 경로를 받아옴
	  					이미지를 하드에 저장하고 디비에는 하드에 저장한 경로를
	  				  */
					$.ajax({
						type: 'post',
						url: getContextPath() + '/blog/uploadImage',
						data: formData,
						contentType: false,  // ajax 이미지 첨부용
						processData: false,  // ajax 이미지 첨부용
						dataType: 'json',    // HDD에 저장된 이미지의 경로를 json으로 받아옴
						success: function(resData){
							
							$('#content').summernote('insertImage', resData.src);
							$('#summernote_image_list').append($('<input type="hidden" name="summernoteImageNames" value="' + resData.filesystem + '">'))
						}
					});  // ajax
				}  // onImageUpload
			}  // callbacks
		});
      
      // 목록
      $('#btn_list').click(function(){
    	 location.href= getContextPath() + '/blog/list'; 
      });
      
      // 서브밋
      $('#frm_write').submit(function(event){
    	  if($('#title').val() == ''){
    		  alert('제목은 필수입니다.');
    		  event.preventDefault(); // 서브밋 취소
    		  return; // 더 이상 코드 실행할 필요 없음
    	  }
      });
      
   });
      
</script>

<body>

      <div>
      
      <div th:replace="~{layout/header::body_title}"></div>
      	<h1>작성 화면</h1>
      	
      	<!--/*타임리프주석*/-->
      	<!--/*
      		
      	*/-->
      	
      	
      	
      	<form id="frm_write" action="@{/blog/add}" method="post">
      	
      		<div>
      			<label for="title">제목</label>
      			<input type="text" name="title" id="title">
      		</div>      		
      		
      		<div>
      			<label for="content">내용</label>
      			<textarea name="content" id="content"></textarea>
      		</div>
      		
			<!-- 써머노트에서 사용한 이미지 목록(등록 후 삭제한 이미지도 우선은 모두 올라감: 서비스단에서 지움) -->
			<div id="summernote_image_list"></div>
      		
      		<div>
      			<button>작성완료</button>
      			<input type="reset" value="입력초기화">
      			<input type="button" value="목록" id="btn_list">
      		</div>
      	</form>
      </div>

</body>
</html>

