@charset "UTF-8";
	.blind{
		display : none;
	}
	.lbl_all, .lbl_one{
		padding-left: 20px;
		background-image: url(../../resources/images/uncheck.png);
		background-size: 18px 18px;
		background-repeat: no-repeat;
	}
	.lbl_checked{
		background-image: url(../../resources/images/check.png);
	}