@charset "UTF-8";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: #333;
}
html {
   background-color: #f2f3f4;
}
.wrap {
   width: 960px;
   margin: 0 auto;
}
.title {
   margin-top: 20px;
   color: teal;
   text-align: center;
}
#frm_member {
   width: 640px;
   margin: 20px auto;
}
.ipt_area {
   padding: 5px;
   margin: 10px auto;
   line-height: 32px;
   border: 1px solid gray;
   background-color: #fff;
}
.gender_area {
   padding: 5px 5px 10px 30px;
   margin: 5x auto;
   line-height: 32px;
}
.gender_area > label {
   display: inline-block;
   width: 80px;
}
#frm_member > label {
   display: block;
   font-weight: bold;
}
.frm_member_ipt {
   display: inline-block;
   width: 100%;
   padding: 10px;
   border: 0;
   outline: 0;
}
.btn_area {
   text-align: center;
   padding: 10px 0;
}
.btn_primary, .btn_detail, .btn_remove {
   color: #fff;
   background-color: crimson;
   border: 0;
   padding: 5px;
   cursor: pointer;
}
.btn_primary:hover, .btn_detail:hover {
   background-color: orange;
}
.member_table {
   border-collapse: collapse;
   margin: 0 auto;
}
.member_table caption {
   font-size: 24px;
   margin: 10px;
}
.member_table thead {
   background-color: gray;
   text-align: center;
}
.member_table tbody tr:hover {
   background-color: beige;
}
.member_table td {
   padding: 5px 10px;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
}
.member_table td:nth-of-type(1) { width: 100px; }
.member_table td:nth-of-type(2) { width: 100px; }
.member_table td:nth-of-type(3) { width: 100px; }
.member_table td:nth-of-type(4) { width: 100px; }
.member_table td:nth-of-type(5) { width: 100px; }
.member_table td:nth-of-type(6) { width: 130px; }
.member_table td:nth-of-type(7) { width: 100px; }